@page
@model Proiect.Pages.Iesire.IesireModel
@{
}

<a class="nav-link text-dark" asp-area="" asp-page="Iesire/Multumim">Alegeti piesele dorite.</a>

<img class="mainImage" src="~/Images/pistoane.jpg" />
<a class="btn btn-primary mt-1" asp-area="" asp-page="Iesire/Iesire">Piston</a>
<br />

<img class="mainImage" src="~/Images/uleimotor.jpg" />
<a class="btn btn-primary mt-1" asp-area="" asp-page="Iesire/Iesire/">Ulei</a>
<br />

<img class="mainImage" src="~/Images/bujie.jpg" />
<a class="btn btn-primary mt-1" asp-area="" asp-page="Iesire/Iesire">Bujie</a>
<br />

<img class="mainImage" src="~/Images/filtre1.jpg" />
<a class="btn btn-primary mt-1" asp-area="" asp-page="Iesire/Iesire">Filtre</a>
<br />