@page
@model Proiect.Pages.Iesire.piesecutiedevitezeModel
@{
}

<a class="nav-link text-dark" asp-area="" asp-page="Iesire/Multumim">Alegeti piesele dorite.</a>

<img class="mainImage" src="~/Images/cutiedevitezapiesa.jpg" />
<a class="btn btn-primary mt-1" asp-area="" asp-page="piesecutiedeviteze/piesecutiedeviteze">Comanda</a>
<br />
