@page
@model Proiect.Pages.Iesire.pieseinteriorModel
@{
}

<a class="nav-link text-dark" asp-area="" asp-page="Iesire/Multumim">Alegeti piesele dorite.</a>

<img class="mainImage" src="~/Images/scauneinterior.jpg" />
<a class="btn btn-primary mt-1" asp-area="" asp-page="pieseinterior/pieseinterior">Comanda</a>
<br />
