@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
    <h1 class="display-4 text-black">Bine ati venit la PieseAuto.ro</h1>
    <h2 class="mainTitluSecundar">Cele mai calitative piese auto din Romania</h2>
    </div>
    <img class="mainImage" src="~/Images/Imagine1.png" />
    <br/>
    
</div>
